body {
    margin: 0;
  	font-family: 'Open Sans', sans-serif;
   font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #614735;
    font-weight: bolder;
}

.nav-item {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    line-height: 1;
    background: white;
    border: 1px solid transparent;
    border-radius: 0.01rem;
  }


.bg-light {
    background-color: #ffffff !important;
    border-bottom: 1px #eee solid;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
    font-size: 15px;
}

.ntuma {
    height: 40rem;
    padding-top: 15%;
    margin-top: 84px;
    padding-bottom: 13%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.30) ), url(../img/ntumacover.jpg);
}

.ntumah1 {
      font-size: 4.5rem;
      font-weight: bolder;
}


 .ntumah1b {
       font-size: 4.5rem;
       font-weight: bolder;
 }

 @media (max-width: 575.98px) {
   .ntumah1b {
         font-size: 2.5rem;
         font-weight: bolder;
   }
  }

.ntumah2 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.homprcat {
  padding-top: 80px;
  padding-bottom: 80px;
}

.homfot {
  padding-top: 60px;
  padding-bottom: 5px;
}

.homfot a {
  color: #000;
}

.homprcat2 {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #fbfbfb;
}

.thirtypadb {
    padding-bottom: 30px;
}

.btn-ntm-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.01rem;
}

.thumwo {
    margin-top: -11rem;
    padding-right: 4rem;
}

@media (max-width: 575.98px) {
  .thumwo {
    margin-top: -10rem;
  padding-right: 1rem;
  padding-bottom: 10rem;
  }
 }



.thumen {
    margin-top: -9rem;
    padding-left: 4rem;
}

@media (max-width: 575.98px) {
  .thumen {
      margin-top: -8rem;
      padding-left: 1rem;
  }
 }


.thumen a {

  color: #000;
}

.thumen a:hover {
  color: #000;
  text-decoration: none;
}



.thuase {
    margin-top: -9rem;
    color: white;
}

.ntumaprotext {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bolder;
}

.amttext {
    margin-bottom: 0px;
    font-size: 13px;
}


.amttext3 {
    margin-bottom: 0px;
    font-size: 14px;
}


.brand {
    display: block;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #404040;
    border-bottom: 1px solid #e9e9e9;
    margin: 4px 0;
    padding-bottom: 4px;
}

.img-ntuma {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}


.img-ntuma2 {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}


 @media (max-width: 575.98px) {
   .img-ntuma2 {
       height: 160px;
       width: 100%;
       object-fit: cover;
       object-position: center center;
   }
  }


.protog {
    padding-top: 30px;
    padding-bottom: 30px;
}


.protog a {
    color: black;
    text-decoration: none;
}

.protog a:hover {
    color: #845F46;
    text-decoration: none;
    transition: all 400ms ease-out;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #BF9F86;
    background-color: #171a1d00;
    font-weight: bolder;
}

.nav-pills a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.nav-pills a:hover {
    color: #BF9F86;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    transition: all 400ms ease-out;
}

.cont{
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #00000087;
}

.cont:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

 .fa-2xb {
    font-size: 30px;
    color: #ffffff;
    border: white 1.5px solid;
    border-radius: 5rem;
    padding: 6px;
    transition: all 0.7s;
}

.text .fa-2xb:hover {
    color: #845f46;
    border: #ffffff 1.5px solid;
    background: #ffffff;
}


.addpad {
  padding-bottom: 30px;
}

.addbpadp {
    padding-bottom: 20px;
  }

.brag {
    background-image:linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.30) ), url(../img/brag.jpg);
    height: 150px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8em;
    padding-bottom: 20em;
}

.wc{
  color: white;
}

.img-brand {
    height: 130px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}


.sellinfpoint {
    background: #B8AF97;
    height: 200px;
    color: #fff;
}

.sptitle {
    padding: 24px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #845F46;
    background-clip: border-box;
    border: 1px solid #845F46;
    border-radius: 0.1rem;
}

.homprcath {
    padding-top: 60px;
    padding-bottom: 60px;
}

.btn-primary {
    color: #fff;
    background-color: #845F46;
    border-color: #845F46;
    border-radius: 0.01rem;
}


.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.01rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.mailing {
    padding-top: 30px;
    padding-bottom: 15px;
    background: #F9F9F9;
}

.homfot a:hover {
    color: #614735;
    text-decoration: none;
    transition: all 400ms ease-out;
}


.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border:1px solid rgba(93, 91, 91, 0.12);
    border-radius: 0.01rem;
}

.dropdown-menu2 {
    top: 100%;
    left: -200px;
    z-index: 1000;
    min-width: 100%;
    padding: -5.5rem 15px;
    margin: 0.125rem 0 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.01rem;
    padding: 20px;
}

.cardrop {
    top: 100%;
    left: -200px;
    z-index: 1000;
    min-width: 100%;
    padding: -5.5rem 15px;
    margin: 0.125rem 0 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(195, 195, 195, 0.36);
    border-radius: 0.01rem;
    padding: 20px;
}

.img-cart {
    height: 53px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.row.cartd {
    padding-bottom: 20px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #614735;
    border-color: #614735;
    border-radius: 0.01rem;
}

.btn-outline-primary {
    color: #0c0c0c;
    background-color: transparent;
    background-image: none;
    border-color: #845f46;
}

.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #845f46;
    background-image: none;
    border-color: #845f46;
}


/*  Listing page*/

.productlist {

  padding-top: 4rem;
  padding-bottom: 4rem;
}

.prodmain{
  padding-bottom: 3rem;
}

.smallpad {
    padding-left: 5px;
    padding-right: 10px;
}

.smallpad2 {
    padding-right: 5px;
}


.listcat {
  padding: 0 0 15px 0;
}

.listcat a {
  color: #000;
  line-height: 2;
}


.listcat a:hover {
  color: #845f46;
  line-height: 2;
  text-decoration: none;
}


.listbestselling {
  padding: 0 0 15px 0;
}


.listbestselling a {
  color: #000;
}

.listbestselling a:hover {
color: #845f46;
text-decoration: none;
}

.productlist a {
color: #000;
text-decoration: none;
}

.productlist a:hover {
color: #845f46;
text-decoration: none;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #845f46;
    border-color: #845f46;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.01em;
    border-bottom-left-radius: 0.01rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.01em;
    border-bottom-right-radius: 0.01em;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    font-size: 13px;
}

.pagin {

  padding-top: 4rem;
  padding-bottom: 1rem;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.01rem 01rem;
    margin-bottom: 5px;
    list-style: none;
    background-color: #f9f9f9;
    border-radius: 0.25rem;
    font-size: smaller;
}

.breadcrumb a {
    color: #8e6c56;
    text-decoration: none;
    background-color: transparent;
}

.bkmagtop {
  padding-top: 6rem;
  background-color: #f9f9f9;
}

/* Single product page */

.singpro {
    padding-top: 4rem;
    padding-bottom: 5rem;
}



.fb {
    padding: 8px 10px 6px 10px;
    background-color: #845f46;
    color: white;
    border-radius: 27px;
}

.fb:hover{
    padding: 8px 10px 6px 10px;
    background-color: #614735;
    color: white;
    border-radius: 27px;
}

.twi {
  padding: 8px 7px 7px 8px;
background-color: #845f46;
color: white;
border-radius: 27px;
}

.twi:hover {
  padding: 8px 7px 7px 8px;
background-color: #614735;
color: white;
border-radius: 27px;
}

.ig {
  padding: 8px 9px 8px 9px;
background-color: #845f46;
color: white;
border-radius: 27px;
}

.ig:hover {
  padding: 8px 9px 8px 9px;
background-color: #614735;
color: white;
border-radius: 27px;
}


.img-single-pro {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #845f46;
    font-size: 14px;
    margin: 5px;
    padding: 1px 10px;
    background: #ffffff;
    display: inline-block;
    cursor: pointer;
    border-radius: 17px;
    transition: all 800ms ease-out;
}

.owl-theme .owl-nav:hover [class*='owl-'] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 1px 10px;
    background: #000;
    display: inline-block;
    cursor: pointer;
    border-radius: 17px;
    transition: all 800ms ease-out;
}


.owl-prev {
float: left !important;
}

.owl-next {
float: right !important;
}

.owl-theme .owl-nav {
    position: absolute;
    top: 29vh;
    width: 100%;
    margin-top: 0px;
    padding: 0px 25px;
}

@media (max-width: 575.98px) {
  .owl-theme .owl-nav {
      position: absolute;
      top: 17vh;
      width: 100%;
      margin-top: 0px;
      padding: 0px 25px;
  }
 }

.btn-review {
    color: #fff;
    background-color: #614735;
    border-color: #614735;
    border-radius: 0.01rem;
}

 .btn-review  a {
    color: white;
    text-decoration: none;
}
.btn-review  a:hover {
   color: white;
   text-decoration: none;
}

.singpropad {
    padding-bottom: 50px;
    padding-top: 20px;
}

.singpropad a {
    color: black;
    text-decoration: none;
}

.singpropad a:hover {
    color: #845F46;
    text-decoration: none;
    transition: all 400ms ease-out;
}

/* cart */

.img-cart-2 {
    height: 53px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.table .thead-ntuma th {
    color: #000;
    background-color: #ffffff;
    border-color: #828282;
    border-top: white;
}

.table a {
    color: #000;

}

.card2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #bbbbbb;
    border-radius: 0.1rem;
}


.cartsum {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.ccrt {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.ccrt2 {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}


.cartbt {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.radiobn {
    padding-left: 25px;
}

/* Checkout */

.singpro .form-control  {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f7f6f6;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #f7f6f6;
    border-radius: 0.01rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.ccrt a {
    color: #845f46;
    text-decoration: none;
    font: bolder;
}

/* login */
.loginbar {
    padding-right: 100px;
    border-right: 2px solid #eee;
}

.loginpad {
    padding-top: 10rem;
    padding-bottom: 80px;
}

.radiobn2 {
    padding-left: 35px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.display-3a {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.1;
    margin-top: 5rem;
    color: #845f46;
}

.incri {
  font: 2rem;
  list-style: 1rem;
}

.searhm {
    height: 45rem;
    padding-top: 20%;
    padding-bottom: 13%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    background-image: url(../img/btsbaycover.jpg);
}


.designers {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border-radius: 0.1rem;
    border: solid 1px #f5f5f5;

}

.designers a {
  color:  #212529;
}


.designers a:hover {
  color:  #845F46;
  text-decoration: none;
}

.pagin a {
  color:  #212529;
}


.pagin a:hover {
  color:  #845F46;
  text-decoration: none;
}





.card-body-ntuma {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem 1rem 1rem 1rem;
    background: #f5f5f5;
    text-align:   center;
}

.img-design {
    height: 152px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.01rem;
    transition: all 1s;
}