body {
    margin: 0;
  	font-family: 'Open Sans', sans-serif;
   font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.nav-item {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 15px;
}

.bg-light {
    background-color: #ffffff !important;
    border-bottom: 1px #eee solid;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
    font-size: 15px;
}

.ntuma {
    height: 40rem;
    padding-top: 15%;
    margin-top: 84px;
    padding-bottom: 13%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.30) ), url(../img/ntumacover.jpg);
}

.ntumah1 {
      font-size: 4.5rem;
      font-weight: bolder;
}


 .ntumah1b {
       font-size: 4.5rem;
       font-weight: bolder;
 }

 @media (max-width: 575.98px) {
   .ntumah1b {
         font-size: 2.5rem;
         font-weight: bolder;
   }
  }

.ntumah2 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.homprcat {
  padding-top: 80px;
  padding-bottom: 80px;
}

.homfot {
  padding-top: 60px;
  padding-bottom: 60px;
}

.homfot a {
  color: #000;
}

.homprcat2 {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #fbfbfb;
}

.thirtypadb {
    padding-bottom: 30px;
}

.btn-ntm-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.01rem;
}

.thumwo {
    margin-top: -11rem;
    padding-right: 4rem;
}

@media (max-width: 575.98px) {
  .thumwo {
    margin-top: -10rem;
  padding-right: 1rem;
  padding-bottom: 10rem;
  }
 }



.thumen {
    margin-top: -9rem;
    padding-left: 4rem;
}

@media (max-width: 575.98px) {
  .thumen {
      margin-top: -8rem;
      padding-left: 1rem;
  }
 }


.thuase {
    margin-top: -9rem;
    color: white;
}

.ntumaprotext {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bolder;
}

.amttext {
    margin-bottom: 0px;
    font-size: 13px;
}


.amttext3 {
    margin-bottom: 0px;
    font-size: 14px;
}


.brand {
    display: block;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #404040;
    border-bottom: 1px solid #e9e9e9;
    margin: 4px 0;
    padding-bottom: 4px;
}

.img-ntuma {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}


.protog {
    padding-top: 30px;
    padding-bottom: 30px;
}


.protog a {
    color: black;
    text-decoration: none;
}

.protog a:hover {
    color: #A5997C;
    text-decoration: none;
    transition: all 400ms ease-out;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #A5997C;
    background-color: #171a1d00;
    font-weight: bolder;
}

.nav-pills a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.nav-pills a:hover {
    color: #A5997C;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
      transition: all 400ms ease-out;
}

.cont{
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #00000087;
}

.cont:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-2xb {
    font-size: 30px;
    color: white;
}

.addpad {
  padding-bottom: 30px;
}

.brag {
    background-image:linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.30) ), url(../img/brag.jpg);
    height: 150px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8em;
    padding-bottom: 20em;
}

.wc{
  color: white;
}

.img-brand {
    height: 130px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}


.sellinfpoint {
    background: #B8AF97;
    height: 200px;
    color: #fff;
}

.sptitle {
    padding: 24px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #c5beaa;
    background-clip: border-box;
    border: 1px solid #c5beaa;
    border-radius: 0.1rem;
}

.homprcath {
    padding-top: 60px;
    padding-bottom: 60px;
}

.btn-primary {
    color: #fff;
    background-color: #c5beaa;
    border-color: #c5beaa;
    border-radius: 0.01rem;
}


.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.01rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.mailing {
    padding-top: 30px;
    padding-bottom: 15px;
    background: #F9F9F9;
}
