body {
    margin: 0;
  	font-family: 'Open Sans', sans-serif;
   font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.nav-item {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 15px;
}

.bg-light {
    background-color: #ffffff !important;
    border-bottom: 1px #eee solid;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
    font-size: 15px;
}

.ntuma {
    height: 40rem;
    padding-top: 15%;
    margin-top: 84px;
    padding-bottom: 13%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.30) ), url(../img/ntumacover.jpg);
}

.ntumah1 {
      font-size: 4.5rem;
      font-weight: bolder;
}

.ntumah2 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.homprcat {
  padding-top: 80px;
  padding-bottom: 80px;
}


.thirtypadb {
    padding-bottom: 30px;
}

.btn-ntm-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.01rem;
}

.thumwo {
    margin-top: -11rem;
    padding-right: 4rem;
}

.thumen {
    margin-top: -9rem;
    padding-left: 4rem;
}

.thuase {
    margin-top: -9rem;
    color: white;
}

.ntumaprotext {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bolder;
}

.amttext {
    margin-bottom: 0px;
    font-size: 13px;

}

.brand {
    display: block;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #404040;
    border-bottom: 1px solid #e9e9e9;
    margin: 4px 0;
    padding-bottom: 4px;
}

.img-ntuma {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}


.protog {
    padding-top: 30px;
    padding-bottom: 30px;
}


.protog a {
    color: black;
    text-decoration: none;
}

.protog a:hover {
    color: #A5997C;
    text-decoration: none;
    transition: all 400ms ease-out;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #A5997C;
    background-color: #171a1d00;
    font-weight: bolder;
}

.nav-pills a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.nav-pills a:hover {
    color: #A5997C;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
      transition: all 400ms ease-out;
}
